.comparison-tool {
  padding: 20px;
  text-align: center;
}

.comparison-tool h2 {
  color: #FF0000;
  margin-bottom: 20px;
}

.comparison-tool input {
  padding: 10px;
  border: 2px solid #3B4CCA;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.comparison-tool input:focus {
  border-color: #FF0000;
  outline: none;
}

.comparison {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.comparison > div {
  flex: 1;
  background: white;
  padding: 15px !important;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comparison h3 {
  color: #3B4CCA;
  margin-bottom: 10px;
}

.comparison-tool .inputs {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.comparison-tool input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.comparison-tool input:focus {
  border-color: #2a75bb;
  outline: none;
}

.comparison-tool button {
  padding: 10px 15px;
  background: #FFDE00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.comparison-tool button:hover {
  background-color: #fcd600;
  transform: scale(1.05);
}

.comparison {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: auto !important;
  background-color: #f9f9f9;
  height: 230px;
}

.comparison .pokemon-card{
    height: auto;
}

.comparison p
.pokemon-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}
